.header__nav-top {
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #e38531;
}

.nav-top__list {
    display: grid;
    /*grid-template-columns: 200px 200px 200px 1fr;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    grid-column-gap: 5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}

.nav-top__item {
    text-align: center;
    align-content: center;
}

/*.nav-top__item:last-child {*/
/*    text-align: right;*/
/*}*/

.nav-top__link {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    line-height: 4.5rem;
    -webkit-transition: padding-bottom .5s;
    -moz-transition: padding-bottom .5s;
    -ms-transition: padding-bottom .5s;
    -o-transition: padding-bottom .5s;
    transition: padding-bottom .5s;
}

.nav-top__link:hover, .nav-top__link:active, .nav-top__link:focus {
    padding-bottom: .2rem;
    border-bottom: .2rem solid #ffffff;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .nav-top__list {
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
    }
}
